body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #2d2d30;
  color: #bdbdbd;
}


form * {
  padding: 10px;
  margin: 5px;
  display: block;
}

label > *,
form button {
  color: black;
}

button{
  margin: 10px;
}
